__pycache__/
*.pyc
.venv/
venv/
.vs/
bin/
obj/
Objects/
Listings/
AppX/
AppPackages/
*.user
*.suo
*.uvguix.*
*.o
*.d
*.a
*.lib
*.dll
*.exe
*.pdb
*.msix
*.pfx
*.tflite
*.rar
*.zip
*.7z
*.pdf
*.docx
raw/
private/
evidence/
